

<web-app>

<servlet>
<servlet-name>LogIn</servlet-name>
<servlet-class>com.train.servlets.LogInServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LogIn</servlet-name>
<url-pattern>/LogInServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>com.train.servlets.RegistrationServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/RegistrationServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Available</servlet-name>
<servlet-class>com.train.servlets.CheckAvailabilityServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Available</servlet-name>
<url-pattern>/Available</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>InsertDetails</servlet-name>
<servlet-class>com.train.servlets.InsertDetailsServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>InsertDetails</servlet-name>
<url-pattern>/InsertDetails</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Validate</servlet-name>
<servlet-class>com.train.servlets.PassengerInputServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Validate</servlet-name>
<url-pattern>/Validate</url-pattern>
</servlet-mapping>

</web-app>